.nav {
    position: fixed;
    background-color: aliceblue;
    width: 100vw;
    top: 0;
    text-align: center;
}

.nav a {
    text-decoration: none;
    color: black;
    padding: 14px 20px;
    display: inline-block;
}

.scroll-link {
    cursor: pointer;
}
