.cat_container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
}

.product_container li:hover {
    background-color: aliceblue;
}

.cat_header {
    text-align: center;
    margin: 10rem 0 6rem 0;
}

.product_item {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;    ;
    gap: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: larger; 
}


.product_image {
    max-height: 200px;
    max-width: 200px;
}

.price {
    width: 100px;
  
}

.number_input {
    width: 50px;
    font-size: larger;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
     
}
